body {
	font-family: 'Share Tech Mono', Arial, Helvetica, sans-serif;
	background-image: url(../images/game-background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

img {
	height: 100px;
	width: 150px;
	border-radius: 5px;
}

.section-title { font-size: 200%; 
color: white;}
.main-section-title {
	font-size: 200%;
    text-align: center;
    color: white;
}

.dragon {
	display: inline-block;
	border-style: solid;
	border-radius: 12px;
	border-color: purple;
	border-width: 2px;
	cursor: pointer;
	background-color: white;
}
.dragon-image {
	height: 100px;
	width: 150px;
}
.dragon-name { text-align: center; }
.dragon-health {	text-align: center; }

.enemy {
	display: inline-block;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	cursor: pointer;
	background-color: red;
}
.target-enemy {
	background-color: black;
	color: white;
}

#selected-dragon {
	width: 190px;
	height: 160px;
}

#attacker {
	width: 190px;
	height: 160px;
}

#defender {
	width: 190px;
	height: 160px;
}
#defender-name { text-align: center; }
#defender-health { text-align: center; }

#choose-character-button { visibility: hidden; }

#restart-button { visibility: hidden; }

#turn-counter { font-size: 150%; }

#game-message, #attack-message, #defense-message {
	color: white;
	font-family: 'Share Tech Mono', Arial, Helvetica, sans-serif;
	font-size: 200%;
}
